
<div class="bgded overlay row4" style="background-image:url('images/demo/backgrounds/05.png');">
    <footer id="footer" class="hoc clear">
        <div class="center btmspace-50">
        <h6 class="heading">First Advice</h6>
        <ul class="faico clear">
          <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
        </ul>
        <p class="nospace">Contact us on above links or below mentioned contacts in case of any queries.</p>
      </div>
      <div id="ctdetails" class="clear">
        <ul class="nospace clear">
          <li class="one_quarter first">
            <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Saturday:</strong> 08.00am - 18.00pm</span></div>
          </li>
          <li class="one_quarter">
            <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="#">our location</a></span></div>
          </li>
        </ul>
      </div>
    </footer>
  </div>
  
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear">
      <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">BSH</a></p>
      <p class="fl_right"><a href="/" title="First Advice">Jump to Top</a></p>
    </div>
  </div>
  
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
  </body>
  </html>