<%- include('layouts/header'); -%>
    <!--HEADER end-->
    <div id="pageintro" class="hoc clear">
        <article>
          <h3 class="heading">Student Checklist</h3>
          <p>Here we provide all the required document checklist for international students.</p>
          <footer>
            <ul class="nospace inline pushright">
              <li><a class="btn" href="#mainblock">Learn More</a></li>
            </ul>
          </footer>
        </article>
      </div>
</div>

<div id="mainblock" class="bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
    <section id="splitfifty" class="hoc container clear">
      <div class="sectiontitle">
        <p class="heading underline font-x2">Student Checklist</p>
      </div>
      <div class="bgded clear" style="background-image:url('images/demo/backgrounds/03.png');">
        <article>
          <h6 class="heading font-x2">First Advice</h6>
          <p>The following list contains the basic required documents to get along with your process:
            <ul>
                <li><a href="https://startright.scotiabank.com/student-gic.html" target="_blank">GIC Account Activation</a></li>
                <li><a href="https://www.canada.ca/en/employment-social-development/services/sin.html" target="_blank">SIN</a></li>
                <li><a href="https://www.ontario.ca/page/drivers-licence" target="_blank">Driver’s License</a></li>
                <li><a href="https://www.ontario.ca/page/ontario-photo-card" target="_blank">Photo Card</a></li>
                <li><a href="https://www.gotransit.com/en/trip-planning/presto" target="_blank">Bus Card</a></li>
                <li><a href="https://www.grt.ca/en/fares-passes/paying-your-fare.aspx" target="_blank">Tram Card</a></li>
                <li><a href="https://www.scotiabank.com/ca/en/personal/credit-cards.html" target="_blank">Apply for Credit Card</a></li>
                <li><a href="https://www.rogers.com/mobility/sim-card" target="_blank">SIM Card</a></li>
            </ul></p>
          <footer><a class="btn" href="/">Home</a></footer>
        </article>
      </div>
    </section>
  </div>
    <!--FOOTER start-->
<%- include('layouts/footer'); -%>