<%- include('layouts/header'); -%>
<p id="errors">
  <% 
    if (typeof(error) !== 'undefined') {
  %>
        <%= error %>
  <% 
    }
  %> 
</p>
  <div id="pageintro" class="hoc clear">
    <article>
      <h3 class="heading">First Advice</h3>
      <p>This proto-type will assist students by providing accurate information and finding accommodation, and jobs as a one-stop for international students!</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="/register">Register Now</a></li>
          <li><a class="btn inverse" href="#introblocks">Learn More</a></li>
        </ul>
      </footer>
    </article>
  </div>
  
</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        <li class="one_third first">
          <figure><a class="imgover" href="/checklist"><img src="images/demo/sc.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Student Checklist</h6>
              <p>A simple Checklist of documents required by a student when he/she lands in CANADA.</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="/job"><img src="images/demo/jobs.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Jobs</h6>
              <p>Hunt part-time and full-time jobs in single place. Employers can post their jobs here as well!</p>
            </figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><a class="imgover" href="/accomodation"><img src="images/demo/acc.png" alt=""></a>
            <figcaption>
              <h6 class="heading">Accommodation</h6>
              <p>Find student accommodations here. Apartment owners can also post their ads here!</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <hr class="btmspace-80">
  </main>
</div>

<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
  <section id="splitfifty" class="hoc container clear">
    <div class="sectiontitle">
      <p class="nospace font-xs">Detailed description about 'First Advice'</p>
      <p class="heading underline font-x2">Product Description</p>
    </div>
    <div class="bgded clear" style="background-image:url('images/demo/backgrounds/03.png');">
      <article>
        <h6 class="heading font-x2">First Advice</h6>
        <p>When an international student comes to Canada to fulfill their dreams/pursue education, he/she has to go through many difficulties for getting their work done. As, they will have to look for ‘Part-Time’ jobs, ‘Accommodations’,  ‘Complete Documentations(i.e. GIC account, SIN, Driver’s License, Photo Card, Bus Passes, Tram Card, etc.)’, but due to lack of knowledge and lack of guidance they have to go through many trouble.<br/>
        They will have to visit separate websites for distinct requirements, i.e.-<br/>
          -	will follow-up on Kijiji, Facebook Marketplace, etc. for accommodation hunting<br/>
          -	will apply for jobs on Indeed, LinkedIn, etc. for part-time, and being an international student, I know we barely get any response from these websites<br/>
          -	ask people around for the required documents or to search it up on Google for the documents required as a new international student
          Some websites are not trust-worthy and they end up paying money to those websites. So, this website will assist students by providing accurate information and finding accommodation, and jobs one-stop for international students.<br/>          
          A website known as “First Advice” will be developed using “Full Stack” web technologies i.e. HTML/CSS, JavaScript, NodeJS, Express, Mongo DB, SQL. This website will be an UNI-System for all the above problems. It will provide list of Required Documents, Job Postings (Part-Time/Full-Time), Accommodations, and general FAQs. This website will be like a STOP-SHOP for all those things. Along with international students, people having place to rent can post advertisements for their place, and, employers can upload Job Postings on this website.<br/>
          There will be no barrier between students and Property owners, Employers. A registration charge will be applied for all including students, property owners, and employers who will generate revenue for the business.</p>
        <footer><a class="btn" href="#">Register Now</a></footer>
      </article>
    </div>
  </section>
</div>

<div class="wrapper row3">
  <section class="hoc container clear">

    <div class="sectiontitle">
      <p class="nospace font-xs">Members of Team BSH</p>
      <p class="heading underline font-x2">First Advice</p>
    </div>
    <ul id="latest" class="nospace group">
      <li class="one_third first">
        <article><a class="imgover" href="#"><img src="images/demo/bharat.png" alt=""></a>
          <ul class="nospace meta group">
            <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
            <li><i class="far fa-clock"></i>
              <time datetime="2045-04-06T08:15+00:00">19 Jun 2022</time>
            </li>
          </ul>
          <div class="excerpt">
            <h6 class="heading">Bharat Kumar</h6>
            <p>Expertise in coding and managing team.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a class="imgover" href="#"><img src="images/demo/sree.png" alt=""></a>
          <ul class="nospace meta group">
            <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
            <li><i class="far fa-clock"></i>
              <time datetime="2045-04-05T08:15+00:00">19 Jun 2022</time>
            </li>
          </ul>
          <div class="excerpt">
            <h6 class="heading">Sree Hari Chokkam</h6>
            <p>Expertise in handling clients based on ample amount of industry experience.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a class="imgover" href="#"><img src="images/demo/harshit.png" alt=""></a>
          <ul class="nospace meta group">
            <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
            <li><i class="far fa-clock"></i>
              <time datetime="2045-04-04T08:15+00:00">19 Jun 2022</time>
            </li>
          </ul>
          <div class="excerpt">
            <h6 class="heading">Harshit Chauhan</h6>
            <p>Expertise in documenting everything, being a major of Project Development.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
    </ul>
  </section>
</div>
<%- include('layouts/footer'); -%>