<%- include('layouts/header'); -%>
    <!--HEADER end-->
    <div id="pageintro" class="hoc clear">
        <article>
          <h3 class="heading">Jobs</h3>
          <p>This proto-type will assist students by providing accurate information and finding jobs as a one-stop for international students!</p>
          <footer>
            <ul class="nospace inline pushright">
              <li><a class="btn" href="/register">Register Now</a></li>
              <li><a class="btn inverse" href="#introblocks">Learn More</a></li>
            </ul>
          </footer>
        </article>
      </div>
</div>
    <!--FOOTER start-->
<%- include('layouts/footer'); -%>